@using EFriender.Models
@model EFriender.Models.Usuario


@{
    ViewData["Title"] = "Details";
}



<div>

    <h4>Usuario</h4>
    <hr />

    <div class="text-center">
        <img class="mb-4 rounded" src="~/imagens/@Model.UrlImagem" width="300px" />
    </div>

    <hr />

    <div class="text-center d-flex justify-content-between">

        <div class="w-25">
            <h2>Nome:</h2>
            <h4 class="opacity-50">@Model.Nome</h4>

            <h2>Idade:</h2>
            <h4 class="opacity-50">@Model.Idade</h4>

            <h2>Gênero:</h2>
            <h4 class="opacity-50">@Model.Genero</h4>
        </div>

        <div class="w-25">
            <h2>Jogo Favorito:</h2>
            <h4 class="opacity-50">@Model.Jogos.Nome</h4>
            <img src="~/imagens/@Model.Jogos.UrlImagem" width="75px" height="75px" />

            <h2>Nick:</h2>
            <h4 class="opacity-50">@Model.Nick</h4>

            <h2>Discord:</h2>
            <h4 class="opacity-50">@Model.Discord</h4>
        </div>

        <div>
            <h2>Curso:</h2>
            <h4 class="opacity-50">@Model.Curso</h4>

            <h2>Faculdade:</h2>
            <h4 class="opacity-50">@Model.Faculdade</h4>

            <h2>Descrição:</h2>
            <h4 class="opacity-50">@Model.Descricao</h4>

            <h2>Preferências:</h2>
            <h4 class="opacity-50">@Model.Preferencias</h4>
        </div>
        <hr />
    </div>

    @{
        int Index = ViewBag.Id.IndexOf(Model.Id);
        int Atual = Index + 1;
        int UltimoIndex = ViewBag.IdUltimo;
        int UltimoId = UltimoIndex + 1;
        int IdProximo = Atual + 1;
        int IdAnterior = Atual - 1;

        if(IdProximo == UltimoId)
        {
            IdProximo = 1;
        }

        if (IdAnterior == 0)
        {
            IdAnterior = UltimoIndex;
        }

    //Atual: @Atual

    //<br />

    //Index: @ViewBag.Id.IndexOf(Model.Id);

    //<br />

    //Ids List: @foreach (var item in ViewBag.Id)
    //{
    //    <span> @item </span>
    //}

    //<br />

    //Ultimo Index: @UltimoIndex;

    //<br />

    //Ultimo Id: @UltimoId



    <div class="text-center m-3">
        <a class="btn btn-primary m-2" asp-route-id="@IdAnterior">Anterior</a>
        <a class="btn btn-primary m-2" asp-route-id="@IdProximo">Próximo</a>
    </div>




</div>
<div>


    <a asp-action="Usuarios">Back to List</a>
</div>
