@using EFriender.Models
@model EFriender.Models.Usuario


@{
    ViewData["Title"] = "Details";
}

<div class="container">

<div>

    @*<h4>Usuario</h4>
    <hr />

    <div class="text-center">
        <img class="mb-4 rounded" src="~/imagens/@Model.UrlImagem" width="300px" height="300px" />
    </div>

    <hr />

    <div class="text-center d-flex justify-content-between">

        <div class="w-25">
            <h2>Nome:</h2>
            <h4 class="opacity-50">@Model.Nome</h4>

            <h2>Idade:</h2>
            <h4 class="opacity-50">@Model.Idade</h4>

            <h2>Gênero:</h2>
            <h4 class="opacity-50">@Model.Genero</h4>
        </div>

        <div class="w-25">
            <h2>Jogo Favorito:</h2>
            <h4 class="opacity-50">@Model.Jogos.Nome</h4>
            <img src="~/imagens/@Model.Jogos.UrlImagem" width="75px" height="75px" />

                @if (Model.Discord != null)
                {
                    <h2>Discord:</h2>
                    <h4 class="opacity-50">@Model.Discord</h4>
                }
        </div>

        <div>
            <h2>Curso:</h2>
            <h4 class="opacity-50">@Model.Curso</h4>

            <h2>Faculdade:</h2>
            <h4 class="opacity-50">@Model.Faculdade</h4>

            <h2>Descrição:</h2>
            <h4 class="opacity-50">@Model.Descricao</h4>

                @if (Model.Preferencias != null)
                {
                    <h2>Preferências:</h2>
                    <h4 class="opacity-50">@Model.Preferencias</h4>
                }

            @if(Model.JogoSecundario != null)
            {
                <h2>Jogo Adicional:</h2>
                <h4 class="opacity-50">@Model.JogoSecundario</h4>
            }

            
        </div>
        <hr />
    </div>*@

    @*{
        int IndexAtual = ViewBag.Id.IndexOf(Model.Id);
        int UltimoIndex = ViewBag.IdUltimo;
        int UltimoId = ViewBag.Id[UltimoIndex];
        int IndexProximo = IndexAtual + 1;
        int IndexAnterior = IndexAtual - 1;
        if (IndexAtual == 0)
        {
            IndexAnterior = UltimoIndex;
        }

        if(IndexAtual == UltimoIndex)
        {
            IndexProximo = 0;
        }
        int Proximo = ViewBag.Id[IndexProximo];
        int Anterior = ViewBag.Id[IndexAnterior];

     }*@

        
        
        @*IndexAtual : @IndexAtual
    <br />
        Index Proximo: @IndexProximo
    <br />
        Index Anterior: @IndexAnterior
    <br />
        Ultimo Index: @UltimoIndex <br />
        Id Atual : @Model.Id <br />
        Id Proximo: @ViewBag.Id[IndexProximo] <br />
    Id Anterior: @ViewBag.Id[IndexAnterior] <br /> <br />
    Ultimo Id: @UltimoId <br />

    <br />

    Lista 0: @ViewBag.Id[0]<br />
    Lista 1:@ViewBag.Id[1]<br />
    Lista 2:@ViewBag.Id[2]<br />
    Lista 3: @ViewBag.Id[3]<br />
    Lista 4:@ViewBag.Id[4]<br />
    Lista 5:@ViewBag.Id[5]<br />
    Lista 6: @ViewBag.Id[6]<br />
    Lista 7:@ViewBag.Id[7]<br />*@

    <div class="text-center m-3">
        @*<a class="btn btn-primary m-2" asp-route-id="@Anterior">Anterior</a>
            <a class="btn btn-primary btn-lg"><i class="fa-solid fa-gamepad"></i></a>
        <a class="btn btn-primary m-2" asp-route-id="@Proximo">Próximo</a>*@
    </div>




</div>

@*<div>
    <a class="btn btn-primary btn-lg" asp-action="Swipe" asp-route-id="@Model.Id">Voltar</a>
</div>*@

</div>

<section class="det-usuario d-flex justify-content-center align-items-center">

    <div class="info-usuario d-flex justify-content-between align-items-center ">
        
        <div class="test d-flex justify-content-between align-items-center">
            <img class="foto-usuario" src="~/imagens/@Model.UrlImagem" width="200px" />
            <div> 
                <p class="info-nick">Erickzz</p>
            </div>

        <h1 class="info-titulo">Nome</h1>
            <p class="info-paragrafo">@Model.Nome</p>

        <h1 class="info-titulo">Faculdade</h1>
            <p class="info-paragrafo">@Model.Faculdade</p>

        <h1 class="info-titulo">Curso</h1>
            <p class="info-paragrafo">@Model.Curso</p>

            
            @if (Model.Discord != null)
            {
                <h1 class="info-titulo">Discord</h1>
                <p class="info-paragrafo">@Model.Discord</p>
            }

        <h1 class="info-titulo">Idade</h1>
            <p class="info-paragrafo">@Model.Idade</p>

        <h1 class="info-titulo">Gênero</h1>
            <p class="info-paragrafo">@Model.Genero</p>

            @if (Model.JogoSecundario != null)
            {
                <h1 class="info-titulo">Jogo Secundário</h1>
                <p class="info-paragrafo">@Model.JogoSecundario</p>
            }

        </div>
    </div>

    <div class="descrip-usuario d-flex justify-content-end align-items-center">
          <div class="descricao m-4">
            <h1 class="descript-titulo">Descrição</h1>
            <p class="descript-paragrafo">@Model.Descricao</p>
          </div>
        <div class="des-preferencias m-4">

            @if (Model.Preferencias != null)
            {
                <h1 class="descript-titulo">Preferências</h1>
                <p class="descript-paragrafo">@Model.Preferencias</p>
            }
          </div>
        <div class="des-jogos m-4">
            <h1 class="descript-titulo-img">Jogo Favorito</h1>
            <p class="descript-paragrafo-img"> <img src="~/imagens/@Model.Jogos.UrlImagem" width="150px" height="150px" /> </p>
        </div>
    </div>
    <div class="botao-voltar">
        <a class=" btn btn-primary btn-lg" asp-action="Swipe" asp-route-id="@Model.Id">Voltar</a>
    </div>
</section>



        @*<div class="espaco"></div>*@