@using EFriender.Models
@model EFriender.Models.Usuario


@{
    ViewData["Title"] = "Swipe";
}

<div class="container">

    <div>

        <h4>Usuario</h4>
        <hr />

        <div class="text-center">
            <img class="mb-4 rounded" src="~/imagens/@Model.UrlImagem" width="300px" height="300px" />
        </div>

        <hr />

        <div class="text-center d-flex justify-content-between">

            <div class="w-25">
                <h2>Nome:</h2>
                <h4 class="opacity-50">@Model.Nome</h4>

                <h2>Idade:</h2>
                <h4 class="opacity-50">@Model.Idade</h4>

                <h2>Gênero:</h2>
                <h4 class="opacity-50">@Model.Genero</h4>
            </div>

            <div class="w-25">
                <h2>Jogo Favorito:</h2>
                <h4 class="opacity-50">@Model.Jogos.Nome</h4>
                <img src="~/imagens/@Model.Jogos.UrlImagem" width="75px" height="75px" />

                <h2>Discord:</h2>
                <h4 class="opacity-50">@Model.Discord</h4>
            </div>

            <div>
                <h2>Curso:</h2>
                <h4 class="opacity-50">@Model.Curso</h4>

                <h2>Faculdade:</h2>
                <h4 class="opacity-50">@Model.Faculdade</h4>

                <h2>Descrição:</h2>
                <h4 class="opacity-50">@Model.Descricao</h4>

                <h2>Preferências:</h2>
                <h4 class="opacity-50">@Model.Preferencias</h4>

                @if (Model.JogoSecond != null)
                {
                    <h2>Jogo 2:</h2>
                    <h4 class="opacity-50">@Model.JogoSecond</h4>
                }


            </div>
            <hr />
        </div>

        @{
            int IndexAtual = ViewBag.Id.IndexOf(Model.Id);
            int UltimoIndex = ViewBag.IdUltimo;
            int UltimoId = ViewBag.Id[UltimoIndex];
            int IndexProximo = IndexAtual + 1;
            int IndexAnterior = IndexAtual - 1;
            if (IndexAtual == 0)
            {
                IndexAnterior = UltimoIndex;
            }

            if (IndexAtual == UltimoIndex)
            {
                IndexProximo = 0;
            }
            int Proximo = ViewBag.Id[IndexProximo];
            int Anterior = ViewBag.Id[IndexAnterior];

        }


        <div class="text-center m-3">
            <a class="btn btn-primary m-2" asp-route-id="@Anterior">Anterior</a>
            <a class="btn btn-primary m-2 text-dark fs-5 bg-warning fw-bolder" asp-route-id="">CONECTAR</a>
            <a class="btn btn-primary m-2" asp-route-id="@Proximo">Próximo</a>
        </div>




    </div>
    <div>


        <a asp-action="Usuarios">Voltar</a>
    </div>
</div>