@using EFriender.Models
@model EFriender.Models.Usuario


@{
    ViewData["Title"] = "Swipe";
}

@{
    int IndexAtual = ViewBag.Id.IndexOf(Model.Id);
    int UltimoIndex = ViewBag.IdUltimo;
    int UltimoId = ViewBag.Id[UltimoIndex];
    int IndexProximo = IndexAtual + 1;
    int IndexAnterior = IndexAtual - 1;
    if (IndexAtual == 0)
    {
        IndexAnterior = UltimoIndex;
    }

    if (IndexAtual == UltimoIndex)
    {
        IndexProximo = 0;
    }
    int Proximo = ViewBag.Id[IndexProximo];
    int Anterior = ViewBag.Id[IndexAnterior];

    ///////////////////////////////////////////

   


}

<div class="flex-column h-100">

    <div class="row h-100">
        <div class="col my-auto mx-auto align-items-center d-flex justify-content-end"><a class="btn btn-primary m-2" asp-route-id="@ViewBag.Random">Anterior</a></div>
        
        <div class="background-gray mt-4 w-25 mx-auto col-sm text-center align-content-center justify-content-center center-block border rounded">
            <div class="m-4 rounded-circle overflow-hidden">
                <img class="overflow-hidden" src="~/imagens/@Model.UrlImagem" width="300px" height="300px" />
            </div>
            
              <h4 class="text-dark">@Model.Nome</h4>

            <h4 class="text-dark">@Model.Curso</h4>

            <h4 class="text-dark">@Model.Jogos.Nome</h4>
            <div class="d-grid gap-2"><a class="btn btn-primary mt-2 mb-2" asp-action="Details" asp-route-id="@Model.Id">Ver Perfil Completo</a></div>
            

        </div>

        <div class="col col my-auto mx-auto align-items-center d-flex justify-content-start"><a class="btn btn-primary m-2" asp-route-id="@ViewBag.Random">Próximo</a></div>
        

       



        @*IndexAtual : @IndexAtual
        <br />
        Index Proximo: @IndexProximo
        <br />
        Index Anterior: @IndexAnterior
        <br />
        Ultimo Index: @UltimoIndex <br />
        Id Atual : @Model.Id <br />
        Id Proximo: @ViewBag.Id[IndexProximo] <br />
        Id Anterior: @ViewBag.Id[IndexAnterior] <br /> <br />
        Ultimo Id: @UltimoId <br />

        <br />

        Lista 0: @ViewBag.Id[0]<br />
        Lista 1:@ViewBag.Id[1]<br />
        Lista 2:@ViewBag.Id[2]<br />
        Lista 3: @ViewBag.Id[3]<br />
        Lista 4:@ViewBag.Id[4]<br />
        Lista 5:@ViewBag.Id[5]<br />
        Lista 6: @ViewBag.Id[6]<br />
        Lista 7:@ViewBag.Id[7]<br />*@

        <div class="text-center m-3">

            <a class="btn btn-primary btn-lg"><i class="fa-solid fa-gamepad"></i></a>

        </div>


    </div>
    <div>

        
        @*<a class="btn btn-primary btn-lg" asp-action="Home">Voltar</a>*@
        
    </div>
</div>
